{% extends "default.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Category "{{category_name}}"</h1>
        <h2 class="subtitle">Entries inside the '{{category_name}}' category</h2>
    </div>

    {% for item in entries %}
        <article class="col-lg-4">
            <section class="category-entry">
                <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                <h4 class="date">{{ item.date }}</h4>
                <p>{{item.matter.summary}}</p>
                <a href="{{item.url}}" class="btn">Read more</a>
            </section>
        </article>
    {% endfor %}
</div>
{% endblock %}
